#login-box {
    width: 25%;
    height: 250px;
    background-color: var(--second-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    -webkit-box-shadow: 9px 8px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 9px 8px 6px -1px rgba(0,0,0,0.75);
    color: #FFF;
}

    #login-box input {
        color: #FFF;
    }
