:root {
    --trans-w: 100%;
    --chart-w: 250px;
}

.plus {
    color: green;
}

.minus {
    color: red;
}

.detail-wrapper {
    margin: 0 auto;
    width: 80%;
    max-height: 730px !important;
    overflow: hidden;
}

.detail-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.trans-container {
    background-color: var(--second-color);
    max-height: 730px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70% !important;
    float: left;
    margin-left: 10px;
    height: 100%;
}

    .trans-container::-webkit-scrollbar {
        width: .75rem;
    }

    .trans-container::-webkit-scrollbar-track {
        background: var(--second-color);
    }

    .trans-container::-webkit-scrollbar-thumb {
        background: var(--third-color);
    }

    .trans-container .transaction:nth-child(odd){
        background-color: var(--second-color);
    }

    .trans-container .transaction:nth-child(even){
        background-color: var(--third-color);
    }

.transaction {
    max-width: var(--trans-w);
    min-width: var(--trans-w);
    height: 50px;
    padding: 15px;
    margin: 0 auto;
    user-select: none;
}

    .transaction:hover {
        border: 1px solid #FFF;
    }

    .transaction .date {
        width: 150px;
        float: left;
    }

    .transaction .title {
        width: 150px;
        float: left;
    }

    .transaction .note {
        width: 250px;
        float: left;
    }

    .transaction .category {
        width: 50px;
        float: left;
    }

    .transaction .value {
        float: right;
        margin-right: 10px;
    }

.chart-container {
    width: var(--chart-w) !important;
    float: left;
    max-height: 730px;
    width: 30%;
    background-color: var(--second-color);
    height: 100%;
}

    .chart-container h3 {
        text-align: center;
    }

    .chart-container #trend {
        text-align: center;
    }

#vibe-cat img {
    position: absolute;
    bottom: 0;
    left: 0;
}