.wallet-wrapper {
    position: relative;
}

    .wallet-wrapper:hover .quick-view {
        top: 50px;
    }

.wallet {
    background-color: var(--dark-gray-2);
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    min-height: var(--wallet-box-h);
    transition: .2s ease-in-out;
    position: absolute;
    user-select: none;
    text-align: center;
    cursor: pointer;
    top: 0;
}

    .wallet .text {
        line-height: var(--wallet-box-h);
        font-size: 1em;
        width: 50%;
        margin: 0 auto;
    }

    .wallet .options {
        position: relative;
        background: var(--dark-gray-3);
        width: 30px;
        height: 30px;
        color: white;
        border-radius: 50%;
        float: right;
        margin-right: 5px;
        margin-top: 5px;
        opacity: 0;
    }

        .wallet .options:after {
            content: '•••';
            position: absolute;
            top: 45%;
            left: 55%;
            transform: translate(-50%, -50%);
            font-size: 11px;
            letter-spacing: 4px;
            margin-top: 2px;
        }

        .wallet .options:hover {
            background-color: var(--fourth-color);
        }

.quick-view {
    background-color: var(--dark-gray-3);
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    min-height: var(--wallet-box-h);
    transition: .2s ease-in-out;
    position: relative;
    user-select: none;
    text-align: center;
    cursor: pointer;
    top: 0;
}

    .quick-view .text {
        position: absolute;
        bottom: 5px;
        right: 15px;
    }