:root {
    --wallet-box-h: 150px;
}

.wallet-grid {
    display: grid;
    grid-gap: 1rem;
    gap: 55px 20px;
}

.wallet-template {
    min-height: var(--wallet-box-h);
    border: 2px dotted var(--font-light);
    border-radius: 10px;
    transition: .2s ease-in-out;
    position: relative;
    user-select: none;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}

    .wallet-template div {
        width: 48px;
        height: 48px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

.circle {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    margin: 4px;
    border: 1px solid var(--font-light);
}
/*     .circle:hover {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4), 0 0 0 10px #f05f75;
    } */

    .circle:active {
        background: #6363634f;
    }

    .circle:before, .circle:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* PLUS */
    .circle.plus:before, .circle.plus:after {
        background: var(--font-light);
    }

    .circle.plus:before {
        margin: 15px auto;
        width: 2px;
    }

    .circle.plus:after {
        margin: auto 15px;
        height: 2px;
    }

@media (max-width: 767px) {
  .wallet-grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 768px) {
  .wallet-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 992px) {
  .wallet-grid { grid-template-columns: repeat(3, 1fr); }
}

.tm-modal .modal-dialog .modal-content {
    background-color: var(--dark-gray-2) !important;
}