.nav-container {
    height: 100%;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 200px;
	align-self: auto;
	order: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

    text-align: center;
    user-select: none;
    
    border-right: var(--dark-gray-3) solid 10px
}

.nav-container a {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
    padding: 20px;
    text-decoration: none;
}

.nav-container a.active {
    font-weight: bold;
}

.nav-container a.last {
    margin-top: auto;
}

.nav-container a:hover {
    background-color: var(--dark-gray-2);
}