@model Tsumugi.Models.Detail.DetailModel
@using Tsumugi.Service;
@using (Html.BeginForm())
{
    <div class="container">
        <div class="heading">@(Model.WalletName)</div>
        <div class="trans-container">
            @Html.DisplayFor(m => m.TransactionList)
        </div>
    </div>
    if (Model.VibeCat)
    {
        <div id="vibe-cat">
            <img src="~/Content/images/vibe-cat.gif" />
        </div>
    }
}