:root {
	--dark-gray-1: #1e1e1e;
	--dark-gray-2: #252526;
	--dark-gray-3: #333;
	--font-light: #fff;
	--font-dark: #1e1e1e;

	--mugi-color: #efd0a2;
	--green-1: #43b581;
	--red-1: #f04747;
	--red-2: #d83f3f;

	--header-size: 50px;
	--footer-size: 50px;

	font: 1.25em arial, helvetica, sans-serif;
}

[data-theme='light'] {
	--dark-gray-1: #f6f6f6;
	--dark-gray-2: #ececec;
	--dark-gray-3: #e1e1e1;
	--font-light: #1e1e1e;
	--font-dark: #fff;
}

* {
	box-sizing: border-box;
	color: var(--font-light);
}

a {
	color: var(--font-light) !important;
}

label {
	margin-top: 10px;
}

input[type='text'],
input[type='date'],
textarea {
	border-radius: 5px;
	padding: 5px;
	min-height: 50px;
	font-size: 1.2rem;
	outline: none;
	border: none;
	color: var(--font-dark) !important;
}

select,
option {
	color: #000 !important;
}

html,
body,
body #root {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--dark-gray-1);
}

*::-webkit-scrollbar {
	width: 0.75rem;
}

*::-webkit-scrollbar-track {
	background: var(--dark-gray-2);
}

*::-webkit-scrollbar-thumb {
	background: var(--dark-gray-3);
}

#appContainer {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
}
