:root {
    --dark-gray-1: #1E1E1E;
    --dark-gray-2: #252526;
    --dark-gray-3: #333;
    --font-light: #FFF;
    --font-dark: #1E1E1E;

    --mugi-color: #EfD0A2;
    --green-1: #43b581;
    --red-1: #f04747;
    --red-2: #d83f3f;

    --header-size: 50px;
    --footer-size: 50px;
    
    font: 1.25em arial, helvetica, sans-serif;
}

[data-theme='light'] {
    --dark-gray-1: #F6F6F6;
    --dark-gray-2: #ECECEC;
    --dark-gray-3: #E1E1E1;
    --font-light: #1E1E1E;
    --font-dark: #FFF;
}

* {
    box-sizing: border-box;
    color: var(--font-light);
}

a {
    color: var(--font-light) !important;
}

select, option {
    color: #000 !important;
}

div.form-floating label {
    color: var(--font-dark) !important;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark-gray-1);
}

body #root {
    background-color: var(--dark-gray-1);
    height: 100%;
}

*::-webkit-scrollbar {
    width: .75rem;
}

*::-webkit-scrollbar-track {
    background: var(--dark-gray-2);
}

*::-webkit-scrollbar-thumb {
    background: var(--dark-gray-3);
}

/* MAIN */
main {
    flex: 1 1 auto;
}